{% set providerHasViewDiversityInformationPermission = [true, false] | random %}

{% set canYouCompleteQuestionnaireAnswer %}
  {% if application.diversityQuestionnaire.answered %}
    Yes, continue to the questionnaire
  {% else %}
    No, continue without completing questionnaire
  {% endif %}
{% endset %}
{% set ethnicDescriptionQuestion %}
  {% if application.diversityQuestionnaire.ethnicGroup == 'Asian or Asian British' %}
    Which of the following best describes your Asian or Asian British background?
  {% elseif application.diversityQuestionnaire.ethnicGroup == 'Black, African, Black British or Caribbean' %}
    Which of the following best describes your Black, African, Black British or Caribbean background?
  {% elseif application.diversityQuestionnaire.ethnicGroup == 'Mixed or multiple ethnic groups' %}
    Which of the following best describes your Mixed or multiple ethnic groups background?
  {% elseif application.diversityQuestionnaire.ethnicGroup == 'White' %}
    Which of the following best describes your White background?
  {% elseif application.diversityQuestionnaire.ethnicGroup == 'Another ethnic group' %}
    Which of the following best describes your ethnicity?
  {% endif %}
{% endset %}
{% set disabilitiesAnswer %}
  <ul class="govuk-list govuk-list--bullet">
    {% for disability in application.diversityQuestionnaire.disabilities %}
      <li>{{disability}}</li>
    {% endfor %}
  </ul>
{% endset %}

{% if providerHasViewDiversityInformationPermission and (application.status == "Accepted" or application.status == "Conditions met") %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Can you complete a 3-minute questionnaire?"
        },
        value: {
          text: canYouCompleteQuestionnaireAnswer
        }
      },
      {
        key: {
          text: "What is your ethnic group?"
        },
        value: {
          text: application.diversityQuestionnaire.ethnicGroup
        }
      } if application.diversityQuestionnaire.ethnicGroup,
      {
        key: {
          text: ethnicDescriptionQuestion
        },
        value: {
          text: application.diversityQuestionnaire.ethnicDescription
        }
      } if application.diversityQuestionnaire.ethnicDescription,
      {
        key: {
          text: "Are you disabled?"
        },
        value: {
          text: application.diversityQuestionnaire.areYouDisabled
        }
      } if application.diversityQuestionnaire.areYouDisabled,
      {
        key: {
          text: "Please select all that apply to you"
        },
        value: {
          html: disabilitiesAnswer
        }
      } if application.diversityQuestionnaire.disabilities,
      {
        key: {
          text: "What is your sex?"
        },
        value: {
          html: application.diversityQuestionnaire.sex
        }
      } if application.diversityQuestionnaire.sex
    ]
  }) }}
{% else %}
<p>This section will be available after any offer has been accepted and you have permission to view diversity information.</p>
{% endif %}

{#

What if it's available but no permission?

The candidate disclosed information in the equality and diversity questionnaire. You’ll be able to view this when any offer has been accepted.

OR

The candidate disclosed information in the equality and diversity questionnaire. This will become available to users with permission to ‘view diversity information’ when any offer has been accepted.

#}
